extends layout.pug

block content
  .container.error
    h3 That's an error.
    div
      img(src='/img/404.svg')
    p= message
    p 
      small Stumble here by accident? #[a(href='/') Diglet] provides secure public links to your computer.
  footer
    .container
      p Diglet is a project by #[a(href="https://deadcanaries.org") Dead Canaries] - &copy; 2020
